/* 商品界面 */

/* 商品图片 */
.product_picture {
    width: 250px;
    height: 250px;
}

/* 价格 */
.price {
    color:red;
    font-size: 30px;
    font-weight: 800;
}

/* 购买人数 */
.sales{
    color: grey;
    font-size: 10px;
}

/* 一件商品 */
.product_border {
    border-style: solid;
    border-color: rgba(245, 242, 242, 0.66);
    border-width: 3px;
    display: inline-block;
    background-color: rgba(245, 244, 244, 0.64);
    margin-right: 5px;
}

/* 商品介绍 */
.product_introduction {
    font-size: 15px;
    color:black;
    width: 250px;
}

/* 店铺链接 */
.store_link {
    font-size: 15px;
    color: grey;
}

/* 购买按钮 */
.buy_button {
    font-size: 15px;
    font-weight: 800;
    color: white;
    position:relative;
    left: 80px;
    width: 50px;
    margin-bottom: 5px;
    cursor: pointer;
}