
/* 搜索图标 */
.search_img { 
    height: 30px;
    width: 30px;
}

/* 搜索输入 */
.search_input {
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* 搜索按钮 */
.search_button {
    font-size: 15px;
    font-weight: 800;
    color: white;
    width: 70px;
    height: 30px;
    cursor: pointer;
    position: relative;
    left: 20px;
}

