/* 商品界面 */

/* 商品图片 */
.product_picture {
    width: 250px;
    height: 250px;
}

/* 价格 */
.price {
    color:red;
    font-size: 27px;
    font-weight: 800;
    display: inline-block;
}

/* 活动中 */
.inActivity {
    color:red;
    font-size:10px;
    font-weight: 800;
    display: inline-block;
}

/* 填充label */
.blank {
    display: inline-block;
    width: 25px;
}

/* 购买人数 */
.sales{
    color: grey;
    font-size: 10px;
}

/* 一件商品 */
.product_border {
    border-style: solid;
    border-color: rgba(245, 242, 242, 0.66);
    border-width: 3px;
    display: inline-block;
    background-color: rgba(245, 244, 244, 0.64);
    margin-right: 5px;
}

/* 商品介绍 */
.product_introduction {
    font-size: 15px;
    color:black;
    width: 250px;
}

/* 店铺链接 */
.store_link {
    display: inline-block;
    font-size: 12px;
    color: grey;
    width: 160px;
}

/* 购买按钮 */
.buy_button {
    font-size: 15px;
    font-weight: 800;
    color: white;
    position:relative;
    left: 20px;
    width: 50px;
    margin-bottom: 5px;
    cursor: pointer;
}

.star {
    position: relative;
    left: 10px;
    width:20px;
    height:20px;
}

.starsNum {
    font-weight: 800;
    font-size: 15px;
    color: #fa9c02;
    position: relative;
    left: 10px;
}
