/* 用户按钮 */
.user_button {
    background-color: rgb(154, 154, 154);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(48, 46, 46);
    width: 150px;
    display: inline-block;
}

/* 用户头像 */
.user_img {
    height: 50px;
    width: 50px;
}

/* 顶部广告 */
.top_advertisement {
    width: 1280px;
    height: 100px;
}